* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 120px 20px 0 20px;
    background: #0f0f10;
    color: #f5f5f5;
    overflow-x: hidden;
    transition: background 0.6s, color 0.6s;
}


#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle at center, #111 0%, #000 100%);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 15, 16, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    z-index: 10;
    border-bottom: 1px solid #222;
}

header h1 {
    color: #00bcd4;
    letter-spacing: 2px;

}

nav a {
    margin: 0 10px;
    color: inherit;
    transition: 0.3s;

}


nav a:hover {
    color: #00bcd4;

}

.entro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2em;
}

.entro h2 {
    font-size: 2.8rem;
    color: #00bcd4;
}

.entro p {
    max-width: 600px;
    margin-top: 1em;
    color: #bbb;

}

.scroll-down {
    margin-top: 3em;
    color: #888;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

}

section {
    padding: 6em 3em;
    max-width: 1100px;
    margin: auto;
}

section h3 {
    font-size: 1.8rem;
    color: #00bcd4;
    margin-bottom: 1em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280, 1fr));
    gap: 1.5em;
}

.projects-box {
    background: #1c1c1e;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #222;
    transition: transform 0.3s, box-shadow 0.3s;
}

.projects-box:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3);
}

.contact {
    text-align: center;
}

.contact a {
    display: inline-block;
    margin: 10px;
    padding: 0.8em 1.5em;
    background: #00bcd4;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.contact a:hover {
    background: #85b6b9;
    box-shadow: 0 0 20px rgba(133, 208, 246, 0.6);
}

footer {
    text-align: center;
    color: #666;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;

}

.show {
    opacity: 1;
    transform: translateY(0);
}

.projects-box a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: 0;
}


.button {
    color: #00bcd4;
    text-align: center;
    background: #1c1c1e;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #222;
    transition: transform 0.3s, box-shadow 0.3s;
}